<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <servlet>
	<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
 <servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.html</url-pattern>
   </servlet-mapping>
   
  <filter>
   <filter-name>RequestFilter</filter-name>
   <filter-class>com.loan.agent.mvc.utils.RequestFilter</filter-class>
  </filter>

<filter-mapping>
  <filter-name>RequestFilter</filter-name>
  <url-pattern>*.html</url-pattern>
</filter-mapping>

<servlet>
  <display-name>DWR Servlet</display-name>
  <servlet-name>dwr-invoker</servlet-name>  
  <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
</servlet>


   

<servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>

 
 	
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>   
  </context-param>	  
<context-param>
		<param-name>locatorFactorySelector</param-name>
		<param-value>classpath*:beanRefContext.xml</param-value>
	</context-param>  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
    <listener>
		<listener-class>com.loan.agent.mvc.utils.WebApplicationListener</listener-class>
	</listener>   

 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file> 
    <welcome-file>index.html</welcome-file> 
     
  </welcome-file-list>
  
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
<servlet>
    <description></description>
    <display-name>getKeyPair</display-name>
    <servlet-name>getKeyPair</servlet-name>
    <servlet-class>com.frontend.encrypt.servlet.getKeyPair</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getKeyPair</servlet-name>
    <url-pattern>/getKeyPair</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>decryptPassword</display-name>
    <servlet-name>decryptPassword</servlet-name>
    <servlet-class>com.frontend.encrypt.servlet.decryptPassword</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>heartBeatServlet</servlet-name>
    <servlet-class>com.frontend.encrypt.servlet.heartBeatServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>decryptPassword</servlet-name>
    <url-pattern>/decryptPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>heartBeatServlet</servlet-name>
    <url-pattern>/servlet/heartBeatServlet</url-pattern>
  </servlet-mapping>
</web-app>
