ul#css3menu1,ul#css3menu1 ul{
	margin:0;
	list-style:none;
	padding:0;
	background-color:#dedede;
	border-width:1px;
	border-style:solid;
	border-color:#5f5f5f;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
ul#css3menu1 ul{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	-moz-box-shadow:3.5px 3.5px 5px #000000;
	-webkit-box-shadow:3.5px 3.5px 5px #000000;
	box-shadow:3.5px 3.5px 5px #000000;
	background-color:#55aaff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-color:#d4d4d4;
	padding:0 10px 10px;
	}
ul#css3menu1 li:hover>ul,ul#css3menu1 li:hover>li,ul#css3menu1 li:hover>a {    /*li:hover>* */
	display:block;
	}

ul#css3menu1 li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
	float:left;
	}
ul#css3menu1 li:hover{
	z-index:1;
	}
ul#css3menu1{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;padding:0;
	*display:inline;
	}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:12px Arial,Helvetica,sans-serif;
	color:#0000ff;
	text-shadow:#FFF 0 0 1px;
	cursor:pointer;padding:10px;
	background-color:#55aaff;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-width:0 0 0 1px;
	border-style:solid;
	border-color:#C0C0C0;
	}
ul#css3menu1 ul li{
	float:none;margin:10px 0 0;}
ul#css3menu1 ul a{
	text-align:left;
	padding:4px;
	background-color:#55aaff;
	background-image:none;
	border-width:0;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	font:14px Tahoma;
	color:#ffffff;
	text-decoration:none;
	}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:rgb(0,112,192);  /*#096FD4;*/
	border-color:#C0C0C0;
	border-style:solid;
	color:#ffffff;
	text-shadow:#FFF 0 0 1px;
	/*background-image:url("mainbk.png");
	background-position:0 100px;*/
	text-decoration:none;
	}
ul#css3menu1 span{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:0px;
	}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#096FD4;
	background-image:none;
	color:#ffffff;
	text-decoration:none;
	}
ul#css3menu1 li.topfirst>a{
	border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	}
ul#css3menu1 li.toplast>a{
	border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	}

.buttonImage {
	display:block;
	vertical-align:middle;
	text-align:left;
	margin-bottom:20px;
	margin-left:20px;
	text-decoration:none;
	font:12px Arial,Helvetica,sans-serif;
	/*font-weight:bold;	*/
	color:black;
	text-shadow:#FFF 0 0 2px;
	cursor:pointer;padding-top:6px;padding-bottom:6px;padding-left:8px;padding-right:8px;
	background-color:#55aaff;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-top: 1px solid rgb(180,180,180);
 	border-right: 1px solid rgb(77,77,77) ;
	border-bottom: 1px solid rgb(77,77,77) ;
 	border-left: 1px solid rgb(180,180,180);
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	 -moz-box-shadow:1px 1px 1px rgb(229,73,0);
    -webkit-box-shadow:1px 1px 1px rgb(147,73,0);
 	 box-shadow: 1px 1px 1px rgb(145,145,145);
	}
	
 
 .buttonLeft   {
 	display:block;
	vertical-align:middle;
	text-align:left;
	margin-bottom:0px;
	margin-left:20px;
	text-decoration:none;
	font:12px Arial,Helvetica,sans-serif;
	/*font-weight:bold;	*/
	color:black;
	text-shadow:#FFF 0 0 2px;
	cursor:pointer;padding-top:6px;padding-bottom:6px;padding-left:8px;padding-right:8px;
	background-color:#55aaff;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-top: 1px solid rgb(180,180,180);
 	border-right: 1px solid rgb(77,77,77) ;
	border-bottom: 1px solid rgb(77,77,77) ;
 	border-left: 1px solid rgb(180,180,180);
	border-radius:5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
		-webkit-border-radius:5px;
		-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	 -moz-box-shadow:1px 1px 1px rgb(229,73,0);
  -webkit-box-shadow:1px 1px 1px rgb(147,73,0);
 	box-shadow: 1px 1px 1px rgb(145,145,145);
 }
 .tinybutton {
	display:block;
	vertical-align:middle;
	text-align:left;
	margin-bottom:4px;
	text-decoration:none;
	font:11px Arial,Helvetica,sans-serif;
	/*font-weight:bold;	*/
	color:black;
	text-shadow:#FFF 0 0 2px;
	cursor:pointer;padding-top:4px;padding-bottom:4px;padding-left:2px;padding-right:2px;
	background-color:#55aaff;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-top: 1px solid rgb(180,180,180);
 	border-right: 1px solid rgb(77,77,77) ;
	border-bottom: 1px solid rgb(77,77,77) ;
 	border-left: 1px solid rgb(180,180,180);
	border-radius:5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
		-webkit-border-radius:5px;
		-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	 -moz-box-shadow:1px 1px 1px rgb(229,73,0);
  -webkit-box-shadow:1px 1px 1px rgb(147,73,0);
 	box-shadow: 1px 1px 1px rgb(145,145,145);
	}
	
	.helpbutton {
	display:block;
	vertical-align:middle;
	float:right;
	font-weight:bold;
	font-size:10px;	 
	text-decoration:none;
	font:11px Arial,Helvetica,sans-serif;	 
	color:rgb(236,95,0);
	text-shadow:#FFF 0 0 4px;
	cursor:pointer;padding-top:4px;padding-bottom:3px;padding-left:3px;padding-right:4px;
	background-color:#55aaff;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-top: 1px solid rgb(180,180,180);
 	border-right: 1px solid rgb(77,77,77) ;
	border-bottom: 1px solid rgb(77,77,77) ;
 	border-left: 1px solid rgb(180,180,180);
	border-radius:5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
		-webkit-border-radius:5px;
		-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	}
	.helpbuttonLeft {
	display:block;
	vertical-align:middle;
	float:left;
	font-weight:bold;
	font-size:10px;	 
	text-decoration:none;
	font:11px Arial,Helvetica,sans-serif;	 
	color:rgb(236,95,0);
	text-shadow:#FFF 0 0 4px;
	cursor:pointer;padding-top:4px;padding-bottom:3px;padding-left:3px;padding-right:4px;
	background-color:#55aaff;
	background-image:url("mainbk.png");
	background-repeat:repeat;
	background-position:0 0;
	border-top: 1px solid rgb(180,180,180);
 	border-right: 1px solid rgb(77,77,77) ;
	border-bottom: 1px solid rgb(77,77,77) ;
 	border-left: 1px solid rgb(180,180,180);
	border-radius:5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
		-webkit-border-radius:5px;
		-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	}